<html xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- site specific styling -->
    <style>
        body {
            font: 12px "Myriad Pro", "Lucida Grande", sans-serif;
            text-align: center;
            padding-top: 5%;
        }
        #player {
            width: 670px;
            display: block;
            height: 450px;
            margin: 0 auto;
        }
    </style>

    <!-- for video tag based installs flowplayer depends on jQuery 1.7.2+ -->
    <script src="/resources/webjars/jquery/3.2.1/jquery.min.js"></script>
    <!-- include flowplayer -->
    <script src="/resources/player/flowplayer-3.2.8.min.js"></script>
</head>
<body th:inline="text">
    <!-- the player-->
    <a id="player"  th:href="${#request.getContextPath()}+'/resources/video/1.flv'">
    </a>
    <script>
        flowplayer("player", "/resources/player/flowplayer-3.2.8.swf", {
            clip:  {
                autoPlay: false,       //是否自动播放，默认true
                autoBuffering: true     //是否自动缓冲视频，默认true
            },
            onLoad: function() {    // 当播放器载入完成时调用
                this.setVolume(30);    // 设置音量0-100，默认50
            }
        });
    </script>

</body>
</html>